h5.pageTitle{
	padding-top:18px !important;
}
.userModules .panel-body{
    padding:0px !important;
}
.grey{
    color:grey;
}
#page-wrapper .row .col-lg-12{
    padding-left:0px !important;
    padding-right:0px !important;
}
.product-imitation{
    padding:0px !important;
}

.product-imitation img{
    width:100%;
}

/** Grid Styling starts here**/


.jqx-grid-column-header{
    background-color: rgba(26, 179, 148, 0.55) !important;
    color:white !important;
    border:none !important;
}
.jqx-widget-content{
    font-family:inherit !important;
    border-color:#ededed !important;
}

/** Grid Styling ends here**/

.liquid-slider .panel-wrapper{
    padding:0px !important;
}
.liquid-slider-parent{
    padding:10px 0px 20px 0px !important;

}
.star{
    color: #FF0000;
}
.vertical-timeline-icon{
	border: 3px solid #ffffff !important;
}
.jqx-widget .jqx-grid-cell{
	border-right:none;
	border-color: #f0f0f0 !important;
	color: rgb(58, 58, 58);
	font-size:12px;
	font-family:verdana !important;
}
.jqx-widget{
	color:#363839 !important;
}
.jqx-grid-statusbar, .jqx-grid-toolbar, .jqx-grid-pager{
	background-color:white !important;
	border-color:#f0f0f0 !important;
	font-size:12px;
}
.jqx-grid-pager-input, .jqx-dropdownlist-content{
	font-size:12px !important;
}
.jqx-grid-statusbar{
	border: 1px #f0f0f0 solid;
	
}
.jqx-grid .jqx-button{
	font-size:12px;
	line-height:normal;
	height:15px !important;
}

/** preloader Styling **/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/preloader1.gif) center no-repeat #fff;
}

/** left meny styling **/
ul#side-menu.nav{
	background-color:white;
}
.nav-header{
	background-image:none !important;
	background-color:#eaeaeb !important;
}
#side-menu > li > a{
	color: RGB(58,58,58) !important;
}
#side-menu > li.active, #side-menu > li > a:hover{
	background: #e5e5e5 !important;	
}
div#wrapper{
	background-color:whitesmoke !important;
}
ul.nav-second-level{
	background-color:whitesmoke !important;
}
.nav-header a{
	color: #6d747f !important;
}
.ibox1{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important
}
.manageLearningPlan .col-lg-6{
	padding-left:0px;
	padding-right:0px;
}
.leftBorderThin{
	border-left:1px silver solid;
	height:100%;
}
.bg-gray{
	background-color:#b9b9b9 !important;
	color:white !important;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
	.col-sm-15 {
        width: 20%;
        float: left;
    }
   
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
        
    }
     #page-wrapper {
		/**margin: 0 0 0 235px !important;**/
	}
    
    
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
@media (max-width: 1000px) {
    .jqx-button span {
		display: none;
	}
	.jqx-grid-statusbar .jqx-button{
		width:45px !important;
	}
}
.form-control, .single-line, textarea, .input-group-addon{
	border: 1px solid #b3b4b5 !important;
}
.bg-formLabel{
	/**background-color:rgba(25, 173, 143, 0.16);**/
	background-color:#1ab394;
	color:white;
	padding:9px 7px !important;
}
.bg-formLabelDark{
	background-color:rgba(0, 0, 0, 0.6);
	color:white;
	padding:9px 7px !important;
}
.bg-formLabelMauve{
	background-color:#A4C2F4;
	color:White;
	padding:9px 7px !important;
}
.bg-formLabelYellow{
	background-color:#ffffb9;
	color:black;
	padding:9px 7px !important;
}
.bg-formLabelBeige{
	background-color:#fff2cb;
	color:black;
	padding:9px 7px !important;
}
.bg-formLabelRustic{
	background-color:#f7caac;
	color:black;
	padding:9px 7px !important;
}
.bg-formLabelCyan{
	background-color:#deeaf6;
	color:black;
	padding: 9px 7px !important;
}
.bg-formLabelGrey{
	background-color: #bbbbbb;
	color:black;
	padding: 9px 7px !important;
}
.bg-mauve{
	background-color:#A4C2F4 !important;
}
.bg-formLabelBrown{
	background-color:rgba(131, 98, 0, 0.69);
	color:white;
	padding:9px 7px !important;
}
.bg-formLabelBrownSm{
	background-color:rgba(131, 98, 0, 0.69);
	color:white;
	padding:4px !important;
	font-weight:400;
}
.bg-formLabelMauveSm{
	background-color:#A4C2F4;
	color:black;
	padding:4px !important;
	font-weight:400;
}
.bg-formLabelDarkSm{
	background-color:rgba(0, 0, 0, 0.6);
	color:white;
	padding:4px !important;
	font-weight:400;
}
.bg-formLabelPeach{
	background-color:#F8CBAD;
	color:black;
	padding:9px 7px !important;
}
.panel-peach{
	border-color:#F8CBAD !important;
}
.panel-peach > .panel-heading {
	background-color:#F8CBAD !important;
	border-color: #F8CBAD !important;
	color:black;
}
.list-group-item{
	font-size:12px;
	padding:6px !important;
}
.panel-dark{
	border-color:rgba(0, 0, 0, 0.6) !important;
}
.panel-dark > .panel-heading {
	background-color:rgba(0, 0, 0, 0.6) !important;
	border-color: rgba(0, 0, 0, 0.6) !important;
	color:white;
}

.panel-mauve{
	border-color:#A4C2F4 !important;
}
.panel-mauve > .panel-heading {
	background-color:#A4C2F4 !important;
	border-color: #A4C2F4 !important;
	color:black;
}
.nav-header{
	background-color:rgba(26, 178, 147, 0.3) !important;
}
body{
	background-color:white !important;
}
.panel-yellow{
	border-color:yellow !important;
}
.panel-yellow > .panel-heading {
	background-color:#ffffb9 !important;
	border-color: yellow !important;
	color:black;
}

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(0,0,0,0.2);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .6s linear;
}
.navbar-default li{
	overflow:hidden;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.panel-beige {
	
	border-color: #fbe294 !important;
	border:10px;
  }
  .panel-beige > .panel-heading{
	background-color: #fff2cb !important;
	border-color: #fff2cb !important;
	color: black !important;
  }
  .panel-rustic {
	
	border-color: #f7caac !important;
	border:10px;
  }
  .panel-rustic > .panel-heading{
	background-color: #f7caac !important;
	border-color: #f7caac !important;
	color: black !important;
  }
  .panel-grey{
	  border-color: #bbbbbb !important;
	  border:10px;
  }
  .panel-grey > .panel-heading{
	  background-color: #bbbbbb !important;
	  border-color: #bbbbbb !important;
	  color: black !important;
  }
  .card-cyan:{
	  border-color:#0000ff;
	  border:10px;
  }
  .card-cyan > .card-heading{
	  background-color: #0000ff !important;
	  border-color: #0000ff !important;
	  color: white !important;
  }
  .card-cyan > .card-body{
	  background-color: #0000ff !important;
	  border-color: #0000ff !important;
	  color: black !important;
  }
.list-group.clear-list .list-group-item{
	color:rgb(54, 54, 54);
}
.dataFilterBlockSelected{
	border-color:black !important;	
	background-color: #1ab394;
	color: #ffffff !important;
}
.get-grid-data-by-reporting-data{
	margin-bottom:10px !important;
}  
  